* {
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: #f4f4f4;
    --color-white: #FFFF;
    --text-colors: #898989;
    --price-colors: #414141;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-bg);

}

.nav-link {
    text-decoration: none;
    color: var(--color-white);
}

.logo-navbar {
    margin-left: 50px;
}

.card {
    box-shadow: 3px 4px 10px #a8a8a8;
}

.preco-produto {
    font-size: 24px;
    color: var(--price-colors);
}

.card-title, h2 {
    font-weight: 600;
}

/* .card-img-top {} */

.desconto-atacado {
    font-size: 24px;
}

.valor-desconto {
    font-size: 42px;
    font-weight: 500;
}

.btn-cart {
    width: 330px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
}